/dist
*.egg-info/
__pycache__/
.coverage
.DS_Store
.tox
.venv
.kiro/
/htmlcov
.vscode
*_version.py
/dependency_bundle/
/scripts/dependency_bundle/
/dev_install/
/wheels/
**/otls/backup
/test/submitter/output/
/test/submitter/scene_files/IncrementalSave_FileReferencing.vpb/
/test/submitter/scene_files/*.deadline_render_settings.json
/test/e2e/output/
/test/e2e/scene_files/*.deadline_render_settings.json
test/worker/output/
